<!DOCTYPE html>
<html>
    <head>
        <title>Make It Happen!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap">
        <script src="https://kit.fontawesome.com/c24d1452ef.js" crossorigin="anonymous"></script>