<html>
<head>
    <title>Make it Happen!</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap">
</head>

<body>
<div class="container">
    <div class="content">
        <h1>The will to <em>win</em>, the desire to <em>succeed</em>, the urge to reach your <em>full potential</em>... these are the keys that will unlock the door to personal excellence.
        <span>-Confucius</span></h1>
        <a href="/goals">Start setting your own goals!</a>
    </div>
</div>


</body>
</html>
