.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: #1B1C1D;
    height: 500px;
    border-radius: 20px;
}

.title {
    color: white;
    font-size: 46px;
    padding: 30px 0;
    text-align: center;
}

.form-auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-auth {
    display: block;
    padding: 10px 15px;
    font-size: 25px;
    margin: 20px 40px;
}

.submit-auth {
    display: block;
    margin: 40px auto 20px auto;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
}

.submit-auth-login:hover {
    color: white;
    background-color: #2185D0;
}

.submit-auth-signup:hover {
    color: white;
    background-color: #21d096;
}

p {
    color: white;
    text-align: center;
}

p a {
    font-weight: bold;
}

.error-message {
    color: red;
    width: 250px;
    margin: auto;
}